@page "/Persona/{id:int?}"
@*@rendermode InteractiveServer*@
@inject NavigationManager Navegador;
@inject PersonaAltaUseCase PersonaAltaUseCase
@inject PersonaModificacionUseCase PersonaModificacionUseCase
@inject PersonaModificacionUseCase PersonaModificacionUseCase
@inject ObtenerPersonaUseCase ObtenerPersonaUseCase
@inject ServicioAutorizacion servicioAutorizacion
@inject UserState User
@*SI el usuario llego hasta aqui sin pasar por inicio_sesion/registro*@
<Mensaje @ref=dialogo 
mensaje="Acceso no autorizado" 
soloMensaje=true
OnCerrado="VolverHome"/>

@*SI el usuario llego hasta aqui mediante la url, pudo haberse saltado las verificaciones de permisos*@
<Mensaje @ref=dialogo_2 
mensaje="No posees el permiso para ralizar esta accion" 
soloMensaje=true
OnCerrado="VolverInicio"/>

<DialogoEx  @ref="dialogoex"/>
@if(!mostrarDialogo){
@if (_esnuevapersona)
 {
<h3>Agregando un nueva Persona</h3>
 }
 else
{
<h3> Modificando a la Persona "@persona.Nombre"</h3>
 }
<input placeholder="DNI" @bind="persona.DNI" class="form-control">
<input placeholder="Nombre" @bind="persona.Nombre" class="form-control">
<input placeholder="Apellido" @bind="persona.Apellido" class="form-control">
<input placeholder="Correo Electronico" @bind="persona.Email" class="form-control">
<input placeholder="Telefono" @bind="persona.Telefono" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
<button class="btn btn-danger" @onclick="()=>VolverInicio()">
            Volver al inicio
        </button>
}
@code {
Persona persona = new Persona();
Mensaje? dialogo=null, dialogo_2=null;
[Parameter] public int? id{get;set;}
bool _esnuevapersona=true;
DialogoEx? dialogoex;
Usuario? user{get; set;}=null;
bool mostrarDialogo= false, mostrarDialogo_FaltaPermisos_Alta, mostrarDialogo_FaltaPermisos_Modi = false;
protected override void OnInitialized(){
  user=User.user;
  if (user ==null){
    mostrarDialogo=true;
  }
  else{
    if (!servicioAutorizacion.PoseeElPermiso(user.Permisos, Permiso.PersonaModificacion)){
      // no tiene permisos para modificar y esta aqui para modificar
      
        mostrarDialogo_FaltaPermisos_Modi = true;
      
    }
    if (!servicioAutorizacion.PoseeElPermiso(user.Permisos, Permiso.PersonaAlta)){
      // faltan permisos para alta y esta aqui para alta
      
        mostrarDialogo_FaltaPermisos_Alta = true;
      
    }
  }
}
protected override void OnParametersSet()
{
if (id != null)
{
  var _persona = ObtenerPersonaUseCase.Ejecutar(id.Value);
  if (_persona != null){
      persona=_persona;
      _esnuevapersona=false;
   }
}
}
private void VolverInicio(){
     Navegador.NavigateTo($"/inicio");
}
private void VolverHome(){
     Navegador.NavigateTo($"/");
}
void Aceptar()
{
  try{
  if (user!=null){
      if (_esnuevapersona)
       PersonaAltaUseCase.Alta(persona, user);
    else
       PersonaModificacionUseCase.Modificacion(persona,user);
   }
persona = new Persona();
Navegador.NavigateTo("/listadoPersonas");
}
 catch(Exception e){
    dialogoex?.Mostrar(e.Message);
 }}

 protected override Task OnAfterRenderAsync(bool firstRender){
        if (mostrarDialogo && dialogo != null && firstRender){
            dialogo.Mostrar();
            StateHasChanged();
        }
        else if(mostrarDialogo_FaltaPermisos_Modi && dialogo_2 != null && firstRender){
          if (id != null){
            dialogo_2.Mostrar();
            StateHasChanged();
          }
        }
        else if(mostrarDialogo_FaltaPermisos_Alta && dialogo_2 != null && firstRender){
          if (id == null){
            dialogo_2.Mostrar();
            StateHasChanged();
          }
        }
        return Task.CompletedTask;
    } 
}