@page "/"
@*@rendermode InteractiveServer*@
@inject NavigationManager navegador;
@inject NavMenuService MenuService;
@inject UserState userState;

<PageTitle>Home</PageTitle>

<h1>Bienvenido, selecciona una opcion</h1>

<button class="btn btn-primary" @onclick="Registro">Registrarse</button>
<button class="btn btn-secondary" @onclick="InicioSesion">Iniciar Sesion</button>

@code {
    protected override void OnInitialized(){
        userState.user = null;
        // aca deberia llamarse a la funcion Actualizar de NavMenu
        MenuService.ActualizarMenu();
    }
    void Registro(){
        navegador.NavigateTo("/registro");
    }
    void InicioSesion(){
        navegador.NavigateTo("/inicio_sesion");
    }
}