@page "/inicio_sesion"
@*@rendermode InteractiveServer*@
@inject UserState userState;
@inject IniciarSesionUseCase iniciarSesionUseCase;
@inject NavMenuService MenuService;
@inject NavigationManager navigator;

<h3>Inicio de Sesion</h3>
<input placeholder="Correo Electronico" @bind="_email" class="form-control">
<input placeholder="Contraseña" @bind="_contraseña" class="form-control">

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
@*Opcion 1*@
<Mensaje @ref=dialogo 
mensaje="Inicio de sesion fallido debido a que la contraseña o correo electronico son incorrectos" 
soloMensaje=true/>
@*Opcion 2*@
<Mensaje @ref=dialogo_2 
mensaje="Se ha iniciado sesion correctamente" 
soloMensaje=true
OnCerrado="IrMain"/>

@code {
    string _email = "";
    string _contraseña = "";
    Usuario user {get;set;} = null!;

    Mensaje dialogo = null!, dialogo_2 = null!;

    protected override void OnInitialized(){
        userState.user = null;
        // aca deberia llamarse a la funcion Actualizar de NavMenu
        MenuService.ActualizarMenu();
    } 

    void IrMain(){
        userState.user = user;
        
        Console.WriteLine("Usuario seteado en login: " + (userState.user?.Nombre ?? "null"));
        Console.WriteLine("Referencia de userState: " + userState.GetHashCode());
        // aca deberia llamarse a la funcion Actualizar de NavMenu
        MenuService.ActualizarMenu();
        navigator.NavigateTo("/inicio");
    }
    void Aceptar (){
        try{
            // si no tira excepcion, user no sera null
            user = iniciarSesionUseCase.Ejecutar(_email, _contraseña);
            dialogo_2.Mostrar();
        }
        catch(Exception e){
            dialogo.CambiarMensaje(e.Message);
            dialogo.Mostrar();
        }
    }
}