@page "/registro"
@rendermode InteractiveServer
@inject UserState userState;
@inject RegistrarseUseCase registrarseUseCase;
@inject NavigationManager navigator;

<h3>Registro</h3>

<input placeholder="Nombre" @bind="_nombre" class="form-control">
<input placeholder="Apellido" @bind="_apellido" class="form-control">
<input placeholder="Correo Electronico" @bind="_email" class="form-control">
<input placeholder="Contraseña" @bind="_contraseña" class="form-control">

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
@*Opcion 1*@
<Mensaje @ref=dialogo 
mensaje="No se ha podido registrar debido a un problema con la informacion de registro" 
soloMensaje=true/>
@*Opcion 2*@
<Mensaje @ref=dialogo_2 
mensaje="El registro se ha realizado correctamente" 
soloMensaje=true
OnCerrado="IrMain"/> 

@code {
    string _nombre = "";
    string _apellido = "";
    string _email = "";
    string _contraseña = "";
    Usuario user {get;set;} = null!;
    Mensaje dialogo = null!, dialogo_2 = null!;  
    void IrMain(){
        userState.user = user;
        navigator.NavigateTo("inicio");
    }
    void Aceptar(){
        try{
            user = new Usuario(_nombre, _apellido, _email);
            registrarseUseCase.Ejecutar(user, _contraseña);
            // si se registra correctamente 
            // aca tendria que ir a la pagina principal
            dialogo_2.Mostrar();
        }
        catch (Exception e){
            dialogo.CambiarMensaje(e.Message);
            dialogo.Mostrar();
        }
    }
}
