@rendermode InteractiveServer
@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>@Mensaje</h3>
            <button class="btn btn-secondary" @onclick="Cerrar">Cerrar</button>
        </div>
    </div>
}
@code{
    [Parameter]
    public string Mensaje {get;set;} = "";
    [Parameter]
    public EventCallback OnCerrar { get; set; }
    private bool visible = true;
    void Cerrar()
    {
        visible=false;
        OnCerrar.InvokeAsync();
    }
}