@rendermode InteractiveServer
@if (visible){
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>@mensaje</h3>
            @if (!soloMensaje){
                <button class="btn btn-primary" @onclick="CerrarYConfirmar">Aceptar</button>
                <button class="btn btn-secondary" @onclick="Cerrar">Cancelar</button>
            }
            else{
                <button class="btn btn-primary" @onclick="Cerrar">Cerrar</button>
            }
        </div>
    </div>
}

@code {
    private bool visible = false;
    [Parameter] public string mensaje {get; set;}="";
    [Parameter] public bool soloMensaje {get; set;} = true;
    [Parameter] public EventCallback OnConfirmado{get;set;}
    [Parameter] public EventCallback OnCerrado{get;set;}
    

    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }

    public void CambiarMensaje(string new_mensaje){
        mensaje = new_mensaje;
        StateHasChanged();
    }


    void CerrarYConfirmar(){
        visible = false;
        OnConfirmado.InvokeAsync();
    }
    void Cerrar(){
        visible = false;
        if (OnCerrado.HasDelegate)
            OnCerrado.InvokeAsync();
    }
}
